.Jumbo {
    background-image: url("../../../img/bg4.jpg");
    background-size: cover;
    min-height: 500px;
    width:100%;
    background-attachment: fixed;
    font-size: 1.2rem;
    color: black;
}

/*@media (max-width: 767px){*/
/*    .Jumbo {*/
/*        background-image: url("../../../img/bg4.jpg");*/
/*    }*/
/*}*/