.Teacher{
    width: 60%;
    margin: 30px auto;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px #ccc;
    background-color: #FEFDFD;
    padding: 10px;
    text-align: center;
    overflow-x:auto;
}

@media(min-width:1085px) {
    .Teachers{
        width:800px;
    }
}

@media(max-width: 350px) {
    .Teachers {
        width: 95%
    }
}

.Teachers{
    height: 600px;
    border: 1px solid #e1e1e1;
    overflow-y: auto;
    border-radius: 10px;
    background-color:  rgba(248, 248, 248,0.7);
    margin: 10px auto;
}

.Label{
    margin-left: 13%;
}

.Static{
    position: static;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B3B3B3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}