.Form {
    margin: auto;
    box-shadow: 0 0 12px 5px rgba(36, 205, 188, 0.3);
    background-color:  rgba(248, 248, 248,0.7);
    max-width:600px;
}

.ListForm{
    margin: auto;
    max-width:800px;
    box-shadow: 0 0 12px 5px rgba(36, 205, 188, 0.3);
    background-color:  rgba(248, 248, 248,0.7);
}
