.Messages{
    margin: 0 auto;
    max-width:800px;
    box-shadow: 0 0 12px 5px rgba(36, 205, 188, 0.3);
    background-color:  rgba(248, 248, 248,0.7);
    overflow: auto;
}

.Message:hover{
    background-color: white;
    cursor: pointer;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.Buttons{
    margin: 0 auto;
    max-width:800px;
    z-index: 600;
}

.Button{
    display: inline-block;
    padding: 10px;
    width: 25%;
    z-index: 600;
    background-color:  rgba(248, 248, 248,1);
    margin-bottom: -1px;
}
.Button:focus{
     outline:0;
 }

.RemoveLabel:hover {
    width: 97%;
    cursor: pointer;
    background-color: rgba(205, 12, 0, 0.3);
}

.Delete:hover{
    font-size: large;
    cursor: pointer;
    height: 50%;

    background-color: rgba(205, 0, 8, 0.3);
}
.Delete{
    width: 5%;
    margin: auto;
}