.formStyle {
    margin: auto;
    box-shadow: 12px 12px 2px 1px rgba(36, 205, 188, 0.3);
}

@media(min-width: 900px) {
    .formStyle{
        width:600px;
    }
}


@media(max-width: 350px) {
    .formStyle {
        width: 95%
    }
}

