.SideDrawer{
    position: fixed;
    width: 300px;
    height: 100%;
    left: 0;
    top:0;
    z-index: 200;
    background-color: whitesmoke;
    padding: 16px 16px;
    box-sizing: border-box;
    transition: transform 700ms ease-out;
}

@media(max-width: 425px){
    .SideDrawer{
        width: 70%;
    }
}

@media(min-width: 767px){
    .SideDrawerElements{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}

.Closed{
    transform: translateX(-100%);
}