.Teacher{
    width: 60%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 10px;
    text-align: center;
    overflow-x:auto;
}

@media(min-width: 800px) {
    .Teachers{
        width:800px;
    }
}

@media(max-width: 350px) {
    .Teachers {
        width: 95%
    }
}

.Teachers{
    height: 400px;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    overflow-y: auto;
    margin: auto;
}

.Label{
    margin-left: 13%;
}

.Static{
    position: static;
}