.Student{
    width: 80%;
    margin: 30px auto;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px #ccc;
    padding: 10px;
    text-align: center;
    overflow-x:auto;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(241,241,241,0.5));
}

.Students{
    height: 600px;
    border: 1px solid #e1e1e1;
    overflow-y: auto;
    border-radius: 10px;
    background-color:  rgba(248, 248, 248,0.7);
    margin: 10px auto;
}

@media(min-width:1085px) {
    .Students{
        width:800px;
    }
}

@media(min-width:900px) {
    .Student{
        width:500px
    }
}
