.Student{
    width: 60%;
    margin: 30px auto;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px #ccc;
    background-color: #FEFDFD;
    padding: 10px;
    text-align: center;
    overflow-x:auto;
}

.Students{
    height: 600px;
    border: 1px solid #e1e1e1;
    overflow-y: auto;
    border-radius: 10px;
    background-color:  rgba(248, 248, 248,0.7);
    margin: 10px auto;
}
@media(min-width:1085px) {
    .Students{
        width:800px;
    }
}

@media(max-width: 350px) {
    .Students {
        width: 95%
    }
}